sim/build/cmake_install.cmake
sim/build/CMakeCache.txt
sim/build/Makefile
sim/build/SimpleCPU
sim/build/CMakeFiles/cmake.check_cache
sim/build/CMakeFiles/CMakeConfigureLog.yaml
sim/build/CMakeFiles/CMakeDirectoryInformation.cmake
sim/build/CMakeFiles/Makefile.cmake
sim/build/CMakeFiles/Makefile2
sim/build/CMakeFiles/progress.marks
sim/build/CMakeFiles/TargetDirectories.txt
sim/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
sim/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
sim/build/CMakeFiles/3.28.3/CMakeSystem.cmake
sim/build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
sim/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
sim/build/CMakeFiles/SimpleCPU.dir/build.make
sim/build/CMakeFiles/SimpleCPU.dir/cmake_clean.cmake
sim/build/CMakeFiles/SimpleCPU.dir/compiler_depend.make
sim/build/CMakeFiles/SimpleCPU.dir/compiler_depend.ts
sim/build/CMakeFiles/SimpleCPU.dir/depend.make
sim/build/CMakeFiles/SimpleCPU.dir/DependInfo.cmake
sim/build/CMakeFiles/SimpleCPU.dir/flags.make
sim/build/CMakeFiles/SimpleCPU.dir/link.txt
sim/build/CMakeFiles/SimpleCPU.dir/progress.make
sim/build/CMakeFiles/SimpleCPU.dir/test.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/test.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/ALU_LG.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/ALU_LG.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/InstructionSet.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/InstructionSet.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/pc.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/pc.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/RF.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/RF.cpp.o.d

.vscode/settings.json
sim/build/CMakeFiles/SimpleCPU.dir/src/thread.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/thread.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/system.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/system.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/Memory.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/Memory.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/executor.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/executor.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/core.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/core.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/src/Cache.cpp.o.d
sim/build/CMakeFiles/SimpleCPU.dir/src/Cache.cpp.o
sim/build/CMakeFiles/SimpleCPU.dir/compiler_depend.internal
